ARGON_SECRET=topsecret
NEXTAUTH_SECRET=topsecret
NEXTAUTH_URL=http://localhost:3000

# --- Start for development
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
# --- End for development

# PostgreSQL database URL 
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

SMTP_USER=mailpit
SMTP_PASSWORD=topsecret
SMTP_HOST=127.0.0.1
SMTP_PORT=1025
